.square {
  font-size: 30px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.white {
  background-color: AntiqueWhite;
}

.black {
  background-color: SaddleBrown;
}

.row {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.board {
  border: 1px solid black;
  height: 400px;
  width: 400px;
}

.highlight-piece {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 55px yellow, 0 0 70px yellow; 
}